@model GestionClub.Models.MembreViewModels.MembreViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MembreViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomUtilisateur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomUtilisateur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ID  }) |
    <a asp-action="Index">Back to List</a>
</div>
