@model IEnumerable<GestionClub.Models.MembreViewModels.MembreViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Liste des membres";
}

<h2>Index</h2>
<hr />
<p>
    @if (User.IsInRole("Administrateur"))
    {
        <a asp-action="Create">@Localizer["CreateNew"]</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Localizer["Username"]
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th>
                @Localizer["Rank"]
            </th>
            <th>
                @Localizer["Role"]
            </th>
            <th>
                @if (User.IsInRole("Administrateur"))
                {
                    @Localizer["Actions"]
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomUtilisateur)
                </td>
                <td>
                    @if (item.ImageData != null)
                {
                        <img class="image_profil" src="data:@item.ImageType;base64,@Convert.ToBase64String(item.ImageData)" alt="@item.ImageNom" />
                    }
                    else
                    {
                        <img class="image_profil" src="~/images/no-image.png" alt="Pas d'image" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @if (User.IsInRole("Administrateur"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
