@model GestionClub.Models.TournoiViewModels.TournoiViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Titre)</h2>
<hr />
<p>@Html.DisplayFor(model => model.Description)</p>

<br />
<p>Le tournoi commence le @Html.DisplayFor(model => model.DateCreation)</p>
<p>Le tournoi aura lieu à @Html.DisplayFor(model => model.Localisation)</p>

@if (Model.Commencer == false)
{
    @Html.ActionLink("Inscription", "Inscription", new { id = Model.ID })
    @Html.ActionLink("Commencer", "Commencer", new { model = Model })
}
else if (Model.Commencer == true)
{
    @Html.ActionLink("Arborescence", "Arborescence", new { id = Model.ID })
}

@if (Model.Terminer == true)
{
    <h3>Ce tournoi est terminer!</h3>
}
else if (Model.Terminer == false && Model.Commencer == true)
{
    <h3>Ce tournoi est en cours!</h3>
}


<h3>Organisateur : @Html.DisplayFor(model => model.Createur)</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Participants
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Participants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomUtilisateur)
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-action="Index">Retour a l'index.</a>
</div>
