@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = Localizer["Title"];
}
<h2>@ViewData["Title"].</h2>

<h3>
    @Localizer["Goal"]<br />
    @Localizer["GoalDescription"]
</h3>

<h4>@Localizer["ActiveUsers"]<br />@Localizer["ConnectedUsers"]<br />@Localizer["VisitNumber"]</h4>

<h4>@Localizer["CreationDate"]<br />@Localizer["LastUpdate"]</h4>


<img src="~/images/interest.png" />

