@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}
<h2>@ViewData["Title"]</h2>
<h3>@Localizer["ContactUs"]</h3>

<address>
    @Localizer["Email"] <br />
    @Localizer["Address"]<br />
    @Localizer["Phone"]
</address>

<img src="~/images/map.jpg" />