@model IPagedList<GestionClub.Models.ForumViewModels.ForumViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer



<div class="ListeForum">
    <pager setting-link-attr-data-ajax="true"
           setting-link-attr-data-ajax-method="GET"
           setting-link-attr-data-ajax-mode="replace-with"
           setting-link-attr-data-ajax-update=".ListeForum" />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Titre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Auteur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Dernier)
                </th>
                <th>
                    #
                </th>
                <th>
                    @if (User.IsInRole("Administrateur") || User.IsInRole("Modérateur"))
                    {
                        @:Actions
                }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Message" asp-action="Index" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Titre)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Auteur)
                        @Html.DisplayFor(modelItem => item.DateCreation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dernier)
                        @Html.DisplayFor(modelItem => item.DateModification)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreMessage)
                    </td>
                    <td>
                        @if (User.IsInRole("Administrateur") || User.IsInRole("Modérateur"))
                        {
                            @Html.ActionLink("Modifier", "Edit", new { id = item.ID }) @:|
                            @Html.ActionLink("Supprimer", "Delete", new { id = item.ID })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>