@model GestionClub.Models.ForumViewModels.ForumViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = "Delete";
}

<h2>@Localizer["PageTitle"]</h2>

<h3>@Localizer["Confirm"]</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Localizer["Title"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Localizer["CreationDate"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt>
            @Localizer["ModDate"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateModification)
        </dd>
        <dt>
            @Localizer["NumberMessage"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreMessage)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">@Localizer["Return"]</a>
        </div>
    </form>
</div>
