@model IPagedList<GestionClub.Models.ForumViewModels.ForumViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer


@{
    ViewData["Title"] = Localizer["PageTitle"];
    SelectList liste_ordretri = new SelectList(new string[] { "ID","Titre", "NombreMessage" }, "ID");
    SelectList liste_recherche = new SelectList(new string[] { "Titre", "NombreMessage" }, "Titre");
}

<h2>Index</h2>
<hr />
<p>
    @if (User.IsInRole("Administrateur") || User.IsInRole("Modérateur"))
    {
        <a asp-action="Create">@Localizer["AddTopic"]</a>
    }
</p>


<div class="row">
    <form class="form-inline" asp-action="Index"
          data-ajax="true"
          data-ajax-method="GET"
          data-ajax-mode="replace"
          data-ajax-update=".ListeForum">
        <div class="col-md-6">
            @Localizer["Sort"] :
            <select name="ordretri" asp-items="@liste_ordretri" class="form-control"></select>
            <input type="submit" name="@Localizer["Sort"]" value="@Localizer["Sort"]" class="btn btn-primary" />
        </div>
        <div class="col-md-6 text-right">
            @Localizer["Search"] :
            <input type="text" name="motrecherche" class="form-control" />
            <select name="champrec" asp-items="@liste_recherche" class="form-control"></select>
            <input type="submit" value="@Localizer["Search"]" class="btn btn-primary" />
        </div>
    </form>
</div>

@Html.Partial("_IndexListeForumPartial", Model)

@section scripts {
    <environment names="Development">
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    </environment>
}